header
    .container
        .row
            .col-md-5.py-4
                p.h3.text-white 振り返りたいイカのための
                p.h3.text-white 動画プレイヤーアプリ
                h1.display-2.text-white iKut
                .card.mt-4.shadow
                    .card-body
                        .card-title
                            h2.h5 for スプラトゥーン2
                        a.btn.btn-success.btn-lg(href="https://s2.ikut.app/") 使ってみる
            .col-md-7.align-self-end
                .row
                    .col-xl-1
                    .col-xl-9.align-self-end
                        img.w-100(src="app_screenshot.png")
                    .col-xl-2
.border-bottom
.container
    .row
        .col-md-6.mt-4
            h2.h3 録画をドラッグアンドドロップして使用開始
            p.mt-3
                | OBS等で録画したプレイ動画をドラッグアンドドロップして使います。
                br
                | お使いのPC内で処理が完結します。動画を他に送信しません。
            img.w-75.border.border-dark(src="drag_and_drop.png")
        .col-md-6.mt-4
            h2.h3 重要シーンを自動で頭出し
            p.mt-3
                | 試合の開始と終了、やられたシーンとたおしたシーンを画像認識を用いて自動で頭出しします。
                br
                | 例えば、やられたシーンを効率的に振り返ることが可能です。
            img.w-50.border.border-dark(src="timeline_2.png")
    .row
        .col-md-6.mt-4
            h2.h3 スローモーションで振り返り
            p.mt-3
                | ゲームスピードが速すぎて、対面の敗因がよく分からないときは、スローモーションで確認することができます。
            img.w-75.border.border-dark(src="slow.png")
        .col-md-6.mt-4
            h2.h3 試合の開始時間一覧をクリップボードにコピー
            p.mt-3
                | YouTubeの概要欄に試合の開始時間を記載したいときは
                | iKutが自動生成した試合の開始時間一覧を使えます。
            img.w-50.border.border-dark(src="clipboard.png")
    .row
        .col-md-6.mt-4
            h2.h3 今後の予定
            .card.mt-3.shadow-sm
                .card-body
                    .card-title
                        h2.h5 for スプラトゥーン3
                    .card-text.text-muted
                        | 発売後、開発開始予定

.footer.mt-4
    .border-bottom
    .container.my-4
        .row
            .col-12
                small
                    | 本ウェブサイトはスプラトゥーン2のプレイ動画を解析する非公式アプリケーションです。
                    br
                    | 任天堂株式会社とは一切関係はございません。
        .row.mt-3
            .col-12.text-center
                button.btn.btn-link.px-2(type="button", data-bs-toggle="modal", data-bs-target="#privacyPolicy") プライバシーポリシー
                button.btn.btn-link.px-2(type="button", data-bs-toggle="modal", data-bs-target="#about") 作者について

.modal#privacyPolicy
    .modal-dialog
        .modal-content
            .modal-header
                h2.h3.modal-title プライバシーポリシー
                button.btn-close(type="button", data-bs-dismiss="modal", aria-label="閉じる")
            .modal-body
                | WebアプリiKutのプライバシーポリシーを以下のように定めます。
                h3.h4.mt-4 個人情報の定義
                | 「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先、プレイヤーネーム、プレイ動画、その他の記述等により特定の個人を識別できる情報を指します。
                h3.h4.mt-4 個人情報の不収集
                | 本アプリは読み込まれたプレイ動画を含め、個人情報を収集しません。
                h3.h4.mt-4 アクセス解析ツールについて
                | iKutではアプリの分析と改善のため、アクセス解析ツール「Firebase Analytics」を利用し統計情報を収集しています。統計情報は匿名で収集されており、個人を特定するものではありません。
            .modal-footer
                button.btn.btn-primary.text-white(type="button", data-bs-dismiss="modal") 閉じる

.modal#about
    .modal-dialog
        .modal-content
            .modal-header
                h2.h3.modal-title 作者について
                button.btn-close(type="button", data-bs-dismiss="modal", aria-label="閉じる")
            .modal-body
                p Haruhiko Takada
                a(href="https://qiita.com/tfandkusu") https://qiita.com/tfandkusu
                br
                a(href="https://twitter.com/tfandkusu") https://twitter.com/tfandkusu
                br
                a(href="https://github.com/tfandkusu") https://github.com/tfandkusu
                br
                a(href="https://zenn.dev/tfandkusu") https://zenn.dev/tfandkusu
            .modal-footer
                button.btn.btn-primary.text-white(type="button", data-bs-dismiss="modal") 閉じる
