.header
    .container
        .row.mt-4
            .col-4
                h2 振り返りたいイカのための
                h2 動画プレイヤーアプリ
                h1 iKut
                .card
                    .card-body
                        .card-title for スプラトゥーン2
                        a.btn.btn-primary(href="https://s2.ikut.app/") 使ってみる
                .card.mt-4
                    .card-body
                        .card-title for スプラトゥーン3
                        .card-text 発売後、開発開始予定
            .col-4
                h3 タイムライン
            .col-4
                h3 スクリーンショット
.container
    .row.mt-4
        .col-6
            h2 録画をドラッグアンドドロップで使用開始
            p OBS等で録画した動画をドラッグアンドドロップして使います。
            p お使いのPC内で処理が完結します。動画を他に送信しません。
        .col-6
            h3 TODO ドラッグアンドドロップ動画
    .row
        .col-6
            h2 シーンを自動で頭出し
            ul
                li 試合の開始
                li 試合の終了
                li やられた
                li たおした
        .col-6
            h3 TODO 自動頭出しスクリーンショット
    .row
        .col-6
            h2 スローモーションで振り返り
            | 対面の敗因が速すぎてよく分からないときは、スローモーションで確認することができます。
        .col-6
            h2 試合の開始時間一覧をクリップボードにコピー
            | YouTubeの概要欄に試合の開始時間を記載したいときは
            | iKutが自動生成した試合の開始時間一覧を使えます。
.footer.mt-4
    .border-bottom
    .container.my-4
        .row
            .col-12
                p
                    | 本ウェブサイトはスプラトゥーン2のプレイ動画を解析する非公式アプリケーションです。
                    br
                    | 任天堂株式会社とは一切関係はございません。
        .row
            .col-12.text-center
                a.px-2 プライバシーポリシー
                a.px-2 作者について
