doctype html
html(lang='ja')
	head
		meta(charset='UTF-8')
		// Bootstrap
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="style.css" rel="stylesheet")
		script(src="bootstrap.min.js")
		// Description
		meta(name='description' content='スプラトゥーン2やられたシーン自動頭出し')
		// iOS meta tags & icons
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(name='apple-mobile-web-app-title' content='iKut')
		link(rel='apple-touch-icon' href='Icon-192.png')
		// Favicon
		link(rel='icon' type='image/png' href='favicon.png')
		// OGP
		meta(property='og:title' content='iKut')
		meta(property='og:type' content='website')
		meta(property='og:url' content='https://ikut.app/')
		meta(property='og:image' content='https://ikut.app/ogp_image.png')
		meta(property='og:site_name' content='iKut')
		meta(property='og:description' content='スプラトゥーン2やられたシーン自動頭出し')
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:site' content='@ikut_app')
		title iKut
		link(rel='manifest' href='manifest.json')
	body
		include _content
		script(src="/__/firebase/8.10.1/firebase-app.js")
		script(src="/__/firebase/8.10.1/firebase-analytics.js")
